<%- include('../partials/header')%>

   

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Series</h2>
            <p class="lead">Todas as series<a class="btn btn-info" href="/series/nova">Nova serie</a></p>
            <table class="table table-hover">
              <% series.forEach( serie  =>  { %>
                   <tr>
                     <td>
                     
                      <a href="/series/info/<%= serie._id %>"> <%= serie.name %></a>
                    </td> 
                     <td>
                     <span class="badge badge-secundary"><%= labels.filter(label => label.id === serie.status)[0].name %></span>
                      
                    </td>  
                    <td>
                      <a href="/series/excluir/<%= serie._id%>">Excluir</a> |
                      <a href="/series/editar/<%= serie._id%>">Editar</a>
                    </td>
                   </tr>
                
              <%  })  %>
             
              </table>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer')%>